@media (min-width: 48rem) {


    body {
        min-height: 100dvh;
        justify-content: center;
    }

    main {
        flex-direction: row;
        width: 60rem;
        min-height: 45.6rem;
    }

    .perfume-image img {
        border-radius: 0.8rem 0 0 0.8rem;
    }


    .perfume-section {
        max-width: 30rem;
        height: 45.6rem;
        padding: 3.2rem;
    }

    .price-section {
        margin-top: 3.2rem;
        margin-bottom: 3.2rem;

    }

    .cart-button {
        max-width: 23.6rem;
    }



}