:root {
    --title-color: #1C232B;
    --text-color: #6C7289;
    --background-color: #F2EAE2;
    --container-color: #FFFFFF;
    --button-text-color: #FFFFFF;
    --price-color: #3D8168;
    --price-higher-color: #6C7289;
    --cart-button-color: #3D8168;
    --cart-button-color-dark: #1A4032
}

.text-preset-1 {
    font-family: Fraunces, sans-serif;
    font-weight: 800;
    font-size: 3.2rem;
    line-height: 100%;
    letter-spacing: 0;
}

.text-preset-2 {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 110%;
    letter-spacing: 0;
}

.text-preset-3 {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 160%;
    letter-spacing: 0;
}

.text-preset-4 {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 120%;
    letter-spacing: 0.5rem;
}

.text-preset-5 {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 120%;
    letter-spacing: 0;
    text-decoration: line-through;
}

.price {
    color: var(--price-color);
}

.price-higher {
    color: var(--price-higher-color);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100dvw;
    background-color: var(--background-color);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35rem;
    min-height: 75rem;
    margin: 8rem 1.2rem;
    border-radius: 0.8rem;
    background-color: var(--container-color);
}

.perfume-image img{
    border-radius: 0.8rem 0.8rem 0 0;
    width: 100%;
}

.perfume-section {
    display: flex;
    flex-direction: column;
    padding: 3.2rem;
}

.perfume-description{
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.perfume-description p{
    color: var(--text-color);
}

.perfume-name {
    color: var(--title-color);
    width: 28.6rem;
}

.price-section{
    display: flex;
    align-items: center;
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
    gap: 1.6rem;
}

.cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28.6rem;
    height: 5rem;
    border-radius: 0.8rem;
    border: none;
    gap: 0.8rem;
    background-color: var(--cart-button-color);
    color: var(--button-text-color);
}

.cart-button:hover{
    background-color: var(--cart-button-color-dark);
    cursor: pointer;
}

.cart-button img{
    margin-bottom: 0.2rem;
}